<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="model">
            <h2><span>Model</span> {{model.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{model.name}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <div *ngIf="model.brand">
                        <a [routerLink]="['/brand', model.brand?.id, 'view']">{{model.brand?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model', model.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
