<div>
    <h2 id="page-heading">
        <span>Brands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-brand" [routerLink]="['/brand/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Brand
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="brands?.length === 0">
        <span>No brands found</span>
    </div>
    <div class="table-responsive" *ngIf="brands?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logo"><span>Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let brand of brands ;trackBy: trackId">
                <td><a [routerLink]="['/brand', brand.id, 'view' ]">{{brand.id}}</a></td>
                <td>{{brand.name}}</td>
                <td>
                    <a *ngIf="brand.logo" (click)="openFile(brand.logoContentType, brand.logo)">
                        <img [src]="'data:' + brand.logoContentType + ';base64,' + brand.logo" style="max-height: 30px;" alt="brand image"/>
                    </a>
                    <span *ngIf="brand.logo">{{brand.logoContentType}}, {{byteSize(brand.logo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/brand', brand.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/brand', brand.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/brand', { outlets: { popup: brand.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="brands?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
