<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brand">
            <h2><span>Brand</span> {{brand.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{brand.name}}</span>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <div *ngIf="brand.logo">
                        <a (click)="openFile(brand.logoContentType, brand.logo)">
                            <img [src]="'data:' + brand.logoContentType + ';base64,' + brand.logo" style="max-width: 100%;" alt="brand image"/>
                        </a>
                        {{brand.logoContentType}}, {{byteSize(brand.logo)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/brand', brand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
