<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span>Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Color</span></dt>
                <dd>
                    <span>{{car.color}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="car.client">
                        <a [routerLink]="['/client', car.client?.id, 'view']">{{car.client?.id}}</a>
                    </div>
                </dd>
                <dt><span>Model</span></dt>
                <dd>
                    <div *ngIf="car.model">
                        <a [routerLink]="['/model', car.model?.id, 'view']">{{car.model?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
