<div>
    <h2 id="page-heading">
        <span>Cars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-car" [routerLink]="['/car/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cars?.length === 0">
        <span>No cars found</span>
    </div>
    <div class="table-responsive" *ngIf="cars?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span>Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="client.id"><span>Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="model.id"><span>Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars ;trackBy: trackId">
                <td><a [routerLink]="['/car', car.id, 'view' ]">{{car.id}}</a></td>
                <td>{{car.color}}</td>
                <td>
                    <div *ngIf="car.client">
                        <a [routerLink]="['/client', car.client?.id, 'view' ]" >{{car.client?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="car.model">
                        <a [routerLink]="['/model', car.model?.id, 'view' ]" >{{car.model?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/car', car.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car', car.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car', { outlets: { popup: car.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="cars?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
